@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 17% 95%;
    --foreground: 221 44% 15%;
    --card: 0 0% 100%;
    --card-foreground: 221 44% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 44% 15%;
    --primary: 221 44% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 17% 90%;
    --secondary-foreground: 221 44% 15%;
    --muted: 220 17% 90%;
    --muted-foreground: 221 44% 35%;
    --accent: 245 100% 73%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 100%;
    --ring: 221 44% 41%;
    --chart-1: 221 44% 41%;
    --chart-2: 245 100% 73%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 221 44% 25%;
    --sidebar-primary: 221 44% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 17% 95%;
    --sidebar-accent-foreground: 221 44% 15%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 221 44% 10%;
    --foreground: 0 0% 98%;
    --card: 221 44% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 221 44% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 221 44% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 44% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 221 44% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 245 100% 73%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 44% 20%;
    --input: 221 44% 15%;
    --ring: 221 44% 51%;
    --chart-1: 221 44% 51%;
    --chart-2: 245 100% 73%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 221 44% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 221 44% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 221 44% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 221 44% 20%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
